<div class="contenu-component">  
    <div class="row row-principal">
        <div class="row-1" >
            <div class="col-md-6 photo-col">
                <img class="employe-profile-img img-circle" src="../../assets/img/pic-user-font-white.png" alt="pic-user"/>
                <span class="title-posteTravail" *ngIf="posteActuel">
                    {{posteActuel.posteTravail.designation}} 
                </span>
                <span class="title-matricule" *ngIf="employeInfos">
                    N° Carte CHIFA  : {{employeInfos.numeroSecuriteSociale}}
                </span>   
            </div>
        </div>
        <mat-tab-group>
                <mat-tab label="Examens complémentaires "> 
                    <mat-form-field class="pull-right search-bar">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
                        <mat-icon matSuffix>search</mat-icon>            
                    </mat-form-field> 
                    
                    <div class="mat-elevation-z8">
                        <div class=" table-overflow">
                        <table mat-table [dataSource]="dataSource" matSort>
            
                            <!-- designation  Column -->
                            <ng-container matColumnDef="designation">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Désignation </th>
                                <td mat-cell *matCellDef="let row">{{row.designation}}</td>
                            </ng-container>

                            <!--  Description  Column -->
                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                                <td mat-cell *matCellDef="let row"> {{row.description}} </td>   
                            </ng-container> 
                            
                            <!--  résultat  Column -->
                            <ng-container matColumnDef="resultat">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Résultat </th>
                                <td mat-cell *matCellDef="let row"> {{row.resultat}} </td>   
                            </ng-container>  

                            <!-- Date résultat  Column -->
                            <ng-container matColumnDef="dateResultat">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Résultat </th>
                                <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
                            </ng-container>   
                            
            
                            <!-- Médecin Column -->
                            <ng-container matColumnDef="medecin">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Médecin </th>
                                <td mat-cell *matCellDef="let row"> Dr.{{row.createdBy.name}}  </td>
                            </ng-container>
                
                            <!-- Action edit Column -->
                            <ng-container matColumnDef="Action-edit">
                                <th mat-header-cell *matHeaderCellDef ></th>
                                <td mat-cell *matCellDef="let row" class="td-btn-edit">
                                    <button mat-icon-button (click)="updateExamen(''+true,row)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                        
                            <!-- Action-rapport Column -->
                            <ng-container matColumnDef="Action-rapport">
                                <th mat-header-cell *matHeaderCellDef ></th>
                                <td mat-cell *matCellDef="let row" class="td-btn-details">
                                    <button mat-icon-button (click)="showFileExamen(row)">
                                        <mat-icon>picture_as_pdf</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            
                            <!-- Action delete Column -->
                            <ng-container matColumnDef="Action-delete">
                                <th mat-header-cell *matHeaderCellDef ></th>
                                <td mat-cell *matCellDef="let row" class="td-btn-delete">
                                    <button mat-icon-button (click)="deleteExamen(row)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table>
                        </div>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </mat-tab>
            <mat-tab label="Orientations médicales">       
                <mat-form-field class="pull-right search-bar">
                    <input matInput (keyup)="applyFilterOrientation($event.target.value)" placeholder="Rechercher">
                    <mat-icon matSuffix>search</mat-icon>            
                </mat-form-field> 
            
                <div class="mat-elevation-z8">
                    <div class=" table-overflow">
                    <table mat-table [dataSource]="dataSourceOrientation" matSort #MatSortOrientation="matSort">
        
                        <!-- Spécialiste  Column -->
                        <ng-container matColumnDef="specialiste">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Spécialiste </th>
                            <td mat-cell *matCellDef="let row"> {{row.specialite}} </td>
                        </ng-container>    

                        <!-- Motif  Column -->
                        <ng-container matColumnDef="motif">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Motif </th>
                            <td mat-cell *matCellDef="let row"> {{row.motif}} </td>
                        </ng-container>  
                    
                        <!-- Date Demande  Column -->
                        <ng-container matColumnDef="reponse">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Réponse</th>
                            <td mat-cell *matCellDef="let row">{{row.resultat}}</td>
                        </ng-container>
                        
                        <!-- Date résultat  Column -->
                        <ng-container matColumnDef="dateReponse">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Réponse </th>
                            <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
                        </ng-container> 
        
                        
                        <!-- Médecin Column -->
                        <ng-container matColumnDef="medecin">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Médecin </th>
                            <td mat-cell *matCellDef="let row"> Dr.{{row.createdBy.name}} </td>
                        </ng-container>
            
                        <!-- Action edit Column -->
                        <ng-container matColumnDef="Action-edit">
                            <th mat-header-cell *matHeaderCellDef ></th>
                            <td mat-cell *matCellDef="let row" class="td-btn-edit">
                                <button mat-icon-button (click)="updateOrientation(''+true,row)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        
                        <!-- Action delete Column -->
                        <ng-container matColumnDef="Action-delete">
                            <th mat-header-cell *matHeaderCellDef ></th>
                            <td mat-cell *matCellDef="let row" class="td-btn-delete">
                                <button mat-icon-button (click)="deleteOrientation(row)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsOrientation"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsOrientation;">
                        </tr>
                    </table>
                    </div>
                    <mat-paginator #MatPaginatorOrientation="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
                