::ng-deep .mat-form-field{
    font-size: 13px; 
    width: 80%;    
  }
  
  ::ng-deep .mat-form-field-label, 
  ::ng-deep .mat-form-field input,
  ::ng-deep .mat-select-value-text,
  ::ng-deep .mat-option,
  ::ng-deep .mat-select-arrow,
  ::ng-deep .mat-datepicker-toggle .mat-icon-button,
  .caret-input,
  .matSuffix   ,
  .mat-form-field textarea{
      color: #54667A !important;
  }
  
  ::ng-deep .mat-focused .mat-form-field-label,
  ::ng-deep .mat-focused .mat-select-arrow,
  ::ng-deep .mat-datepicker-toggle .mat-icon-button.cdk-focused,
  ::ng-deep .mat-datepicker-toggle .mat-icon-button.cdk-program-focused{
    color: #41B3F9 !important;
  }
  ::ng-deep .mat-selected {
    color: white !important;
  }
  
  ::ng-deep .mat-form-field-ripple,
  ::ng-deep .mat-selected,
  ::ng-deep .mat-step-header .mat-step-icon,
  ::ng-deep .mat-calendar-body-selected{
    background-color: #41B3F9 !important;
  }
  
  ::ng-deep .mat-form-field-underline{
    background-color: #54667A !important;
  }
  
  ::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
  }
  .mat-form-field input,
  .mat-form-field textarea{
    caret-color: #41B3F9;
  }
  
  .contenu-component{
    height: auto;
    padding-top: 0.01px;    
    padding-bottom:75px;
    background: #F6F6F6;
  }
  
  .textArea{
    min-height: 80px;
  }
  .row-principal{
    width: 90%;
    min-height: 400px;
    margin-left: 5%;
    margin-top: 100px;    
    background-color: white;
    border: 1px solid #E0E0E0; 
    padding: 10px 10px 10px 10px;              
  }
  
  .row-principal .photo-col{
    padding-left: 10%;
  }
  
  .row-principal .photo-col img.employe-profile-img{
    width: 100px;
    height: 100px;
    border: 2px solid #E0E0E0;
  }
  
  .row-principal .photo-col .title-posteTravail,
  .row-principal .photo-col .title-matricule{
    position:absolute;
    margin-left:20px; 
    font-size:13px;     
    color: #54667A ; 
  }
  
  .row-principal .photo-col .title-posteTravail{
    top:-5px;
    font-weight: bold;
  }
  .row-principal .photo-col .title-matricule{
    top:20px;
  }
  
  .row-section{
    border: 1px solid #E0E0E0; 
    padding: 20px 10px 20px 25px; 
    margin-bottom: 20px;        
    height: auto;   
  }
  
  .row-section-TM{
    border: 1px solid #E0E0E0; 
    padding-left: 10px;
    padding-right:  10px;
    padding-bottom: 10px;
    min-height: 100px; 
  }
  
  .row-title{
  text-align: center;
  margin-bottom: 10px;
  }
  
  .row-title h4{
  color: #2F323E;
  font-weight: bold;
  }
  
  .btn-add{
    margin-left: 10px;
  }
  
  .btn-add button{
    background: #7ACE4C;
    color: white; 
  }
  
  .col-md-4, .col-md-5, .col-md-6,.col-md-7,
  .col-md-8, .col-md-10, .col-md-12{
    margin-top: 10px;
  }
  
  .row-btn button.btn-save{
    color: white;
    background-color: #7BCE4C;
    margin-left: 10px;
  }
  
  .row-btn button.btn-cancel{
    color: white;
    margin-left: 10px;       
    background-color: #F33155;
  }
  
  .btn-delete, .btn-pdf, .btn-edit{
    color: white;
    margin-left: 5px;     
  } 
  .btn-delete{
    background-color: #F33155;  
  }
  .btn-edit{
    background-color: #41B3F9;  
  } 
  .btn-pdf{
    background-color: #F0AD4E;
    
  }
  
  .td-btn-pdf button{
    color: #F0AD4E;
  }
  
  .btn-terminer{
    margin-left: 10px;
    background: #7ACE4C;
    color: white;
  }
  
  table {
  width: 100%; 
  margin-bottom: 20px;
  }
  
  td{
  font-size: 9px; 
  color: #54667A !important;
  }
  
  th{
  font-size: 9px;
  background-color:#2F323E;
  color:white;
  }
  
  .td-btn{
  text-align: center;
  }
  
  table tr.mat-header-row,
  table tr.mat-row,
  table tr.mat-footer-row{
    height: 40px;
  }
  
  p.title-champ{
    font-size: 13px;
    font-weight: bold;
    color: #54667A;
    margin-top: 23px;
  }
  
  p span.champ{
    font-weight: normal;
    margin-left: 10px;
  }
  
  
  .row-principal .td-btn-edit button,
  .row-principal .td-btn-details button,
  .row-principal .td-btn-delete button{
    width: 20px; 
    height:20px;
    margin-top: -15px;
  }
  
  .row-principal .td-btn-edit button{
    color:#41B3F9;
  }
  
  .row-principal .td-btn-delete button{
    color:#F33155;
  }
  
  .row-0-btn{
    padding-right: 6%; 
    margin-top:-50px;
}

.row-0-btn button.btn-rapport,
.row-0-btn button.btn-suivant,
.row-0-btn button.btn-precedent{
    font-size: 11px;
    color: white;
}

.row-0-btn button.btn-rapport{
    background-color: #F0AD4E;
    margin-left: 30px;
}

.row-0-btn button.btn-suivant,
.row-0-btn button.btn-precedent{
    background-color: #41B3F9; 
    width: 110px; 
    margin-left: 5px;  
}
.btn-stepper-suivant,.btn-stepper-precedent{
    margin-right: 5px;
    color: white;
    margin-top: 10px;
}

.row-2{
  text-align: center;
}
.row-2 .col-md-12{
    border: 1px solid #E0E0E0; 
    padding-top: 20px;
}

.row-2 .stat-info .col-md-2{
  border-right: 1px solid #E0E0E0; 
}
.row-2 .col-md-12>.col-md-5{
  border-left: 1px solid #E0E0E0; 
  border-right: 1px solid #E0E0E0;     
}
.btn-stepper-suivant,.btn-stepper-precedent{
    background: #41B3F9;
}

.btn-stepper-enregistrer{
    background: #7ACE4C;
    color: white;    
}

  @media (min-width:767.98px){
  .row-principal{
      padding-top: 80px;
  }
  
  .row-principal .photo-col{
      margin-top: -130px;
  }
  .row-principal .row-4{
      margin-bottom: 200px;
  }
  .step-add{
    margin-top: -30px;
  }
  .search-bar{
      margin-top: -50px;
      width: 40% !important;
  }
  }
  
  @media (max-width:767.98px){
  
  .row-principal{
      margin-top: 60px; 
  }
  
  .row-principal .photo-col{
      margin-top: 20px;
  }
  
  .row-principal .photo-col .title-matricule{
      top:40px;
  }
  
  td ,
  th{
      font-size: 8px;
      min-width: 100px;
  }
  .table-overflow{
      overflow: auto; 
      width: 100%;       
  }
  table {
      margin-top: 0;
  }
  .mat-elevation-z2{
      margin-top: 70px;
  }
  
  .search-bar{
      width: 80% !important;
  }
  }