<div class="container-fluid"> 
  <div class="title-component-bar">
      <h4> Accidents de Travail</h4>
  </div>
  <div class="row row-header">
      <h4 class="row-title">Filtrage des accidents de travail</h4>
        <div class="col-md-4">
            <mat-form-field class="width-field">
                <input matInput placeholder="Matricule">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="width-field">
                <input matInput placeholder="Num.Carte Chifa" type="text">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <mat-select placeholder="Poste de travail">
                    <mat-option *ngFor="let posteTravail of posteTravails" [value]="posteTravail.designation">
                        {{posteTravail.designation}}
                    </mat-option>                  
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <mat-select placeholder="Site">
                    <mat-option *ngFor="let site of sites" [value]="site.designation">
                            {{site.designation}}
                    </mat-option>                            
                </mat-select>
            </mat-form-field>
        </div> 
        <div class="col-md-4">
            <mat-form-field>
                <mat-select placeholder="Département">   
                    <mat-option *ngFor="let departement of departements" [value]="departement.designation">
                            {{departement.designation}}
                    </mat-option>                          
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <mat-select placeholder="Société">
                    <mat-option *ngFor="let societe of societes" [value]="societe.designation">
                            {{societe.designation}}
                    </mat-option>                      
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="width-field">
                <input matInput  [matDatepicker]="pickerDebut" placeholder="Date Début">
                <mat-datepicker-toggle matSuffix [for]="pickerDebut"></mat-datepicker-toggle>
                <mat-datepicker #pickerDebut></mat-datepicker>              
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="width-field">
                <input matInput  [matDatepicker]="pickerFin" placeholder="Date Début">
                <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                <mat-datepicker #pickerFin></mat-datepicker>              
            </mat-form-field>
        </div>
        <div class="col-md-4 pull-right">
                <button mat-raised-button class="btn-filter">Filter</button>
                <button mat-raised-button class="btn-annuler"><mat-icon>close</mat-icon></button>                        
        </div>
  </div> 
  <div class="row row-principal">
        
        <h4 class="row-title">Liste des accidents de travail
            <span>
                <button mat-button mat-raised-button class="pull-right btn-declarer" (click)="add()">
                    Déclarer Accident
                    <mat-icon>add</mat-icon>                                  
                </button>  
            </span>    
        </h4> 
        <br><br>
         
      <mat-form-field class="search-bar pull-right">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
          <mat-icon matSuffix>search</mat-icon>            
      </mat-form-field> 
  
      <div class="mat-elevation-z8">
          <div class=" table-overflow">
          <table mat-table [dataSource]="dataSource" matSort>

              <!-- nature accident  Column -->
              <ng-container matColumnDef="natureAccident">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nature </th>
                <td mat-cell *matCellDef="let row">{{row.natureAccident.designation}}</td>
            </ng-container>
  
              <!-- Date accident  Column -->
              <ng-container matColumnDef="dateAccident">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                  <td mat-cell *matCellDef="let row">{{row.date}}</td>
              </ng-container>    

              <!-- Lieu accident  Column -->
              <ng-container matColumnDef="lieuAccident">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Lieu </th>
                  <td mat-cell *matCellDef="let row"> {{row.lieu}} </td>
              </ng-container>

             <!-- circonstance accident  Column -->
             <ng-container matColumnDef="circonstance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Circonstance </th>
                <td mat-cell *matCellDef="let row"> {{row.circonstance}} </td>
            </ng-container> 

              <!-- Médecin Column -->
              <ng-container matColumnDef="medecin">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Médecin </th>
                  <td mat-cell *matCellDef="let row">  </td>
              </ng-container>
          
               <!-- Action edit Column -->
               <ng-container matColumnDef="Action-edit">
                    <th mat-header-cell *matHeaderCellDef ></th>
                    <td mat-cell *matCellDef="let row" class="td-btn-edit">
                        <button mat-mini-fab (click)="openDialogEdit(''+row.idConsultation)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
            
                <!-- Action details Column -->
                <ng-container matColumnDef="Action-details">
                    <th mat-header-cell *matHeaderCellDef ></th>
                    <td mat-cell *matCellDef="let row" class="td-btn-details">
                        <button mat-mini-fab (click)="openDialogDetails(''+row.idConsultation)">
                            <mat-icon>details</mat-icon>
                        </button>
                    </td>
                </ng-container>
                
                <!-- Action delete Column -->
                <ng-container matColumnDef="Action-delete">
                    <th mat-header-cell *matHeaderCellDef ></th>
                    <td mat-cell *matCellDef="let row" class="td-btn-delete">
                        <button mat-mini-fab (click)="openDialogDelete(''+row.idConsultation)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
       
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
          </table>
          </div>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
  </div>
</div>
            
    
    