<h4 mat-dialog-title class="mat-dialog-title">Déclarer un accident de travail </h4>
<form [formGroup]="addForm">    
    <div mat-dialog-content>  
        <div class="col-md-12 row">  
            <div class="col-md-12 row-title">
                <h4>Saisir le détail d'accident</h4>
            </div>                                      
            <div class="col-md-6">
                <div class="col-md-8">
                    <mat-form-field>
                        <mat-select placeholder="Nature d'accident" formControlName="nature" required>
                            <mat-option *ngFor="let natureAccident of natureAccidents" [value]="natureAccident.id">
                                {{natureAccident.designation}}
                            </mat-option>                  
                        </mat-select>
                    </mat-form-field> 
                </div> 
                <div class="col-md-6">                        
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Date accident" formControlName="date" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-8">
                    <mat-form-field >
                        <input matInput placeholder="Lieu d'accident" formControlName="lieu" required>
                    </mat-form-field> 
                </div>   
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <mat-form-field>
                        <textarea class="textArea" matInput placeholder="Circonstance d'accident" formControlName="circonstance" required></textarea>
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-form-field>
                        <textarea class="textArea" matInput placeholder="Compte rendu d'accident" formControlName="compteRendu"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="pull-right">
        <button mat-button mat-raised-button class="btn-annuler" (click)="onNoClick()" >Annuler</button>
        <button mat-button mat-raised-button class="btn-ajouter" (click)="onSubmit()" cdkFocusInitial>Ajouter <mat-icon>add</mat-icon></button>
    </div>
</form>
