<h4 mat-dialog-title class="mat-dialog-title">Ajouter un calendrier vaccinal </h4>
<form [formGroup]="addForm">    
    <div mat-dialog-content>  
        <div class="row">                                  
            <div class="col-md-4">
                <mat-form-field>
                    <mat-select placeholder="Vaccin" formControlName="vaccinn" required>
                        <mat-option *ngFor="let vaccinn of vaccins" [value]="vaccinn.id">{{vaccinn.designation}}</mat-option>                                                                            
                    </mat-select>
                </mat-form-field>
            </div>    
            <div class="col-md-4">
                <mat-form-field>
                    <textarea matInput placeholder="Nombre d'injections nécessaires" ></textarea>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <textarea matInput placeholder="Sérum" ></textarea>
                </mat-form-field>
            </div> 
        </div>   
        <div class="row">  
            <div class="col-md-6">
                <mat-form-field>
                    <textarea matInput placeholder="Nombre d'injections à affecter" formControlName="nombreInjection" ></textarea>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <textarea matInput placeholder="Durée entre deux vaccin" formControlName="duree" ></textarea>
                </mat-form-field>
            </div>      
        </div>
    </div>
    <div mat-dialog-actions class="pull-right">
        <button mat-button mat-raised-button class="btn-annuler" (click)="onNoClick()" >Annuler</button>
        <button mat-button mat-raised-button class="btn-ajouter" (click)="onSubmit()" cdkFocusInitial>Ajouter <mat-icon>add</mat-icon></button>
    </div>
</form>
