<div class="contenu-component">  
    <div class="row row-principal">
        <div class="row-1">
            <div class="col-md-6 photo-col">
                <img class="employe-profile-img img-circle" src="../../assets/img/pic-user-font-white.png" alt="pic-user"/>
                <span class="title-posteTravail">
                </span>
                <span class="title-matricule">
                    Num.Carte Chifa : 
                </span>   
            </div>
        </div>
    </div>
</div>
          