<div class="container-fluid"> 
  <div class="title-component-bar">
      <h4> Acte de Soins Médicaux ou d'urgences</h4>
  </div>
  <div class="row row-header">
      <h4 class="row-title">Filtrage des soins médicaux ou d'urgence</h4>
        <div class="col-md-4">
            <mat-form-field class="width-field">
                <input matInput placeholder="Matricule">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="width-field">
                <input matInput placeholder="Num.Carte Chifa" type="text">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <mat-select placeholder="Poste de travail">
                    <mat-option *ngFor="let posteTravail of posteTravails" [value]="posteTravail.designation">
                        {{posteTravail.designation}}
                    </mat-option>                  
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <mat-select placeholder="Site">
                    <mat-option *ngFor="let site of sites" [value]="site.designation">
                            {{site.designation}}
                    </mat-option>                            
                </mat-select>
            </mat-form-field>
        </div> 
        <div class="col-md-4">
            <mat-form-field>
                <mat-select placeholder="Département">   
                    <mat-option *ngFor="let departement of departements" [value]="departement.designation">
                            {{departement.designation}}
                    </mat-option>                          
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <mat-select placeholder="Société">
                    <mat-option *ngFor="let societe of societes" [value]="societe.designation">
                            {{societe.designation}}
                    </mat-option>                      
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="width-field">
                <input matInput  [matDatepicker]="pickerDebut" placeholder="Date Début">
                <mat-datepicker-toggle matSuffix [for]="pickerDebut"></mat-datepicker-toggle>
                <mat-datepicker #pickerDebut></mat-datepicker>              
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="width-field">
                <input matInput  [matDatepicker]="pickerFin" placeholder="Date Début">
                <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                <mat-datepicker #pickerFin></mat-datepicker>              
            </mat-form-field>
        </div>
        <div class="col-md-4 pull-right">
                <button mat-raised-button class="btn-filter">Filter</button>
                <button mat-raised-button class="btn-annuler"><mat-icon>close</mat-icon></button>                        
        </div>
  </div> 
  <div class="row row-principal">
      <h4 class="row-title">Liste des soins médicaux ou d'urgence</h4>     
      <mat-tab-group>
        <mat-tab label="Soins"> 
            <mat-form-field class="search-bar">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
                <mat-icon matSuffix>search</mat-icon>            
            </mat-form-field> 
        
            <div class="mat-elevation-z8">
                <div class=" table-overflow">
                <table mat-table [dataSource]="dataSource" matSort #MatSortDemande="matSort">

                    <!-- Type de soins  Column -->
                    <ng-container matColumnDef="acte">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acte </th>
                        <td mat-cell *matCellDef="let row">{{row.acte.designation}}</td>
                    </ng-container>
        
                    <!-- Date soins  Column -->
                    <ng-container matColumnDef="dateSoins">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de soins </th>
                        <td mat-cell *matCellDef="let row">{{row.date}}</td>
                    </ng-container>    

                    <!-- matricule  Column -->
                    <ng-container matColumnDef="matricule">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricule </th>
                        <td mat-cell *matCellDef="let row">{{row.employe.code}}</td>
                    </ng-container> 
                
                    <!-- Numéro carte chifa   Column -->
                    <ng-container matColumnDef="numCarteChifa">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Carte CHIFA  </th>
                        <td mat-cell *matCellDef="let row">{{row.employe.numeroSecuriteSociale}}</td>
                    </ng-container>

                     <!-- Observation   Column -->
                     <ng-container matColumnDef="observation">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Observation  </th>
                        <td mat-cell *matCellDef="let row">{{row.observation}}</td>
                    </ng-container>

                    <!-- Poste Travail  Column -->
                    <ng-container matColumnDef="posteTravail">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Poste de travail  </th>
                        <td mat-cell *matCellDef="let row">
                            <ng-container *ngFor="let posteTravails of row.employe.employe_posteTravails">
                                <ng-container *ngIf="posteTravails.actuel === true">
                                    {{posteTravails.posteTravail.designation}}
                                </ng-container>
                            </ng-container>  
                        </td>                    </ng-container>

                    <!-- Médecin Column -->
                    <ng-container matColumnDef="medecin">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Médecin </th>
                        <td mat-cell *matCellDef="let row"></td>
                    </ng-container>

                    <!-- Infirmier  Column -->
                    <ng-container matColumnDef="infirmier">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Infirmier </th>
                        <td mat-cell *matCellDef="let row"></td>
                    </ng-container>
                
                    <!-- Action details Column -->
                    <ng-container matColumnDef="Action-details">
                        <th mat-header-cell *matHeaderCellDef ></th>
                        <td mat-cell *matCellDef="let row" class="td-btn-details">
                            <button mat-mini-fab (click)="openDialogDetails(''+row.idConsultation)">
                                <mat-icon>details</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </mat-tab>
        <mat-tab label="Demandes de soins"> 
                <mat-form-field class="search-bar">
                    <input matInput (keyup)="applyFilterDemande($event.target.value)" placeholder="Rechercher">
                    <mat-icon matSuffix>search</mat-icon>            
                </mat-form-field> 
            
                <div class="mat-elevation-z8">
                    <div class=" table-overflow">
                    <table mat-table [dataSource]="dataSourceDemande" matSort #MatSortDemande="matSort">
    
                       <!-- Type de soins  Column -->
                    <ng-container matColumnDef="acte">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acte </th>
                        <td mat-cell *matCellDef="let row">{{row.acte.designation}}</td>
                    </ng-container>
        
                    <!-- Date Demande  Column -->
                    <ng-container matColumnDef="dateDemande">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Demande </th>
                        <td mat-cell *matCellDef="let row">{{row.date}}</td>
                    </ng-container>    

                    <!-- matricule  Column -->
                    <ng-container matColumnDef="matricule">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricule </th>
                        <td mat-cell *matCellDef="let row">{{row.employe.code}}</td>
                    </ng-container> 
                
                    <!-- Numéro carte chifa   Column -->
                    <ng-container matColumnDef="numCarteChifa">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Carte CHIFA  </th>
                        <td mat-cell *matCellDef="let row">{{row.employe.numeroSecuriteSociale}}</td>
                    </ng-container>

                     <!-- Observation   Column -->
                     <ng-container matColumnDef="observation">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Observation  </th>
                        <td mat-cell *matCellDef="let row">{{row.observation}}</td>
                    </ng-container>
    <!-- Poste Travail  Column -->
    <ng-container matColumnDef="posteTravail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Poste de travail  </th>
        <td mat-cell *matCellDef="let row"></td>
    </ng-container>
                        <!-- Médecin Column -->
                        <ng-container matColumnDef="medecin">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Médecin </th>
                            <td mat-cell *matCellDef="let row">  </td>
                        </ng-container>
                    
                        <!-- Action details Column -->
                        <ng-container matColumnDef="Action-details">
                            <th mat-header-cell *matHeaderCellDef ></th>
                            <td mat-cell *matCellDef="let row" class="td-btn-details">
                                <button mat-mini-fab (click)="openDialogDetails(''+row.idConsultation)">
                                    <mat-icon>details</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <!-- Action add Column -->
                        <ng-container matColumnDef="Action-add">
                            <th mat-header-cell *matHeaderCellDef ></th>
                            <td mat-cell *matCellDef="let row" class="td-btn-add">
                                <button mat-mini-fab (click)="openDialogAdd(''+row.idConsultation)">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsDemande"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsDemande;">
                        </tr>
                    </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
        </mat-tab>                
      </mat-tab-group>
  </div>
</div>
              
      
      