::ng-deep .mat-form-field,
::ng-deep .mat-option-text{
    font-size: 13px; 
}

::ng-deep .mat-form-field-label, 
::ng-deep .mat-form-field input,
::ng-deep .mat-select-value-text,
::ng-deep .mat-option,
::ng-deep .mat-select-arrow,
.caret-input,
::ng-deep .mat-tab-label-content  {
    color: #54667A !important;
}

::ng-deep .mat-focused .mat-form-field-label{
    color: #41B3F9 !important;    
}
::ng-deep .mat-selected {
    color: white !important;
}

::ng-deep .mat-form-field-ripple,
::ng-deep .mat-selected,
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar{
    background-color: #41B3F9 !important;
}

::ng-deep .mat-form-field-underline{
    background-color: #54667A !important;
}

.mat-form-field input,
.mat-form-field textarea{
    caret-color: #41B3F9;
}

.contenu-component{
height: auto;
padding-top: 0.01px;    
padding-bottom:75px;
background: #F6F6F6;
}

.row-principal{
width: 90%;
min-height: 400px;
margin-left: 5%;
margin-top: 100px;    
background-color: white;
border: 1px solid #E0E0E0; 
padding: 50px 30px 20px 30px;              
}

.row-principal .photo-col{
padding-left: 10%;
}

.row-principal .photo-col img.employe-profile-img{
width: 100px;
height: 100px;
border: 2px solid #E0E0E0;
}

.row-principal .photo-col .title-posteTravail,
.row-principal .photo-col .title-matricule{
position:absolute;
margin-left:20px; 
font-size:13px;     
color: #54667A ; 
}

.row-principal .photo-col .title-posteTravail{
top:-5px;
font-weight: bold;
}
.row-principal .photo-col .title-matricule{
top:20px;
}

.mat-elevation-z8{
    margin: 70px 20px 20px 20px;
}

.row-principal table {
    width: 100%; 
    margin-top: 20px;
  }
.row-principal td{
    font-size: 11px; 
    color: #54667A !important;
  }

.row-principal th{
    font-size: 11px;
    background-color:#2F323E;
    color:white;
}

.row-principal .td-btn-edit,
.row-principal .td-btn-delete,
.row-principal .td-btn-details{
    text-align: center;
    width: 50px;
}
.row-principal .td-btn-edit button,
.row-principal .td-btn-delete button,
.row-principal .td-btn-details button{
    width: 35px; 
    height:35px;
    color: #2F323E; 
}

.row-principal .td-btn-edit button{
    background-color:#F0AD4E;
}

.row-principal .td-btn-delete button{
    background-color:#F33155;
}
.row-principal .td-btn-details button{
    background-color:#41B3F9; 
}

.btn-ajouter{
    background-color: #7ACE4C;
    color: white; 
}

@media (min-width:767.98px){
    .row-principal{
        padding-top: 80px;
    }

    .row-principal .photo-col{
        margin-top: -130px;
    }

    .row-0-btn{
        padding-right: 6%; 
        margin-top:45px;
    }
    .search-bar{
        margin-top: 10px;
        margin-right: 20px;
        width: 40% !important;
    }
}
    
@media (max-width:767.98px){

    .row-principal{
        margin-top: 60px; 
    }

    .row-principal .photo-col{
        margin-top: 20px;
    }

    .row-principal .photo-col .title-matricule{
        top:40px;
    }
    .row-0-btn{
        padding-right: 6%; 
        margin-top:15px;
    }

    td ,
    th{
        font-size: 8px;
        min-width: 100px;
    }
    .table-overflow{
        overflow: auto; 
        width: 100%;       
    }
    table {
        margin-top: 0;
    }
   
    .search-bar{
        width: 80% !important;
        margin-bottom: 20px;
        margin-right: 20px;
    }

}
