<div class="container-fluid"> 
    
  <div class="title-component-bar">
          <h4> Rendez-Vous </h4>
  </div>
  <div class="contenu-component">
      <div class="col-md-6 pull-right row-0-btn">
          <button mat-button mat-raised-button class="pull-right btn-ajouter" (click)="add(''+amir)">
              Convoquer un employé
              <mat-icon>add</mat-icon>                                  
          </button> 
      </div>
      <div class="row row-principal">
          <mat-tab-group>
              <mat-tab label="Injections"> 
                  <mat-form-field class="pull-right search-bar">
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
                      <mat-icon matSuffix>search</mat-icon>            
                  </mat-form-field> 
                  
                  <div class="mat-elevation-z8">
                      <div class=" table-overflow">
                      <table mat-table [dataSource]="dataSource" matSort>
          
                        <!-- duree retard Column -->
                        <ng-container matColumnDef="duree">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Durée de retard </th>
                            <td mat-cell *matCellDef="let row">{{row.dureeRetard}}</td>
                        </ng-container>

                        <!-- Etat Column -->
                        <ng-container matColumnDef="etat">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Etat </th>
                            <td mat-cell *matCellDef="let row">{{row.etat ? "Effectuée" : "Non Effectuée"}}</td>
                        </ng-container>


                        <!-- Date Column -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                            <td mat-cell *matCellDef="let row">{{row.date | date}}</td>
                        </ng-container>

                        <!-- Effectuée par  Column -->
                        <ng-container matColumnDef="effectuePar">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Effectuée Par </th>
                            <td mat-cell *matCellDef="let row"></td>
                        </ng-container>
                    
                        <!-- Action convocation Column -->
                        <ng-container matColumnDef="Action-convocation">
                            <th mat-header-cell *matHeaderCellDef ></th>
                            <td mat-cell *matCellDef="let row" class="td-btn-details">
                                <button mat-icon-button (click)="convoquerEmployeInjection(row)">
                                    <mat-icon>notification_important</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                        </tr>
                      </table>
                      </div>
                      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                  </div>
              </mat-tab>
              <mat-tab label="Visites Programmées"> 
                  <mat-form-field class="pull-right search-bar">
                      <input matInput (keyup)="applyFilterMaladies($event.target.value)" placeholder="Rechercher">
                      <mat-icon matSuffix>search</mat-icon>            
                  </mat-form-field> 
                  
                  <div class="mat-elevation-z8">
                      <div class=" table-overflow">
                      <table mat-table [dataSource]="dataSourceMaladies" matSort #MatSortMaladies="matSort">
          
                          <!-- date  Column -->
                          <ng-container matColumnDef="date">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                              <td mat-cell *matCellDef="let row">{{row.date}}</td>
                          </ng-container>

                          <!-- duree retard  Column -->
                          <ng-container matColumnDef="dureeRetard">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Durée de retard </th>
                              <td mat-cell *matCellDef="let row">{{row.dureeRetard}}</td>
                          </ng-container>
              
                        <!-- Action convocation Column -->
                        <ng-container matColumnDef="Action-convocation">
                            <th mat-header-cell *matHeaderCellDef ></th>
                            <td mat-cell *matCellDef="let row" class="td-btn-details">
                                <button mat-icon-button (click)="convoquerEmployeVisiteProgrammee(row)">
                                    <mat-icon>notification_important</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                      
                          <tr mat-header-row *matHeaderRowDef="displayedColumnsMaladies"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumnsMaladies;">
                          </tr>
                      </table>
                      </div>
                      <mat-paginator #MatPaginatorMaladies="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                  </div>
              </mat-tab>
              <mat-tab label="Convocations"> 
                  <mat-form-field class="pull-right search-bar">
                      <input matInput (keyup)="applyFilterAutres($event.target.value)" placeholder="Rechercher">
                      <mat-icon matSuffix>search</mat-icon>            
                  </mat-form-field> 
                  
                  <div class="mat-elevation-z8">
                      <div class=" table-overflow">
                      <table mat-table [dataSource]="dataSourceAutres" matSort #MatSortAutres="matSort">
          
                          <!-- designation  Column -->
                          <ng-container matColumnDef="type">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                              <td mat-cell *matCellDef="let row">{{row.type}}</td>
                          </ng-container>

                          <!-- designation  Column -->
                          <ng-container matColumnDef="designation">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Désignation </th>
                              <td mat-cell *matCellDef="let row">{{row.designation}}</td>
                          </ng-container>
              
                          <!-- Date Debut  Column -->
                          <ng-container matColumnDef="dateDebut">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date début</th>
                              <td mat-cell *matCellDef="let row">{{row.dateDebut | date}}</td>
                          </ng-container>
                          
                          <!-- Date Fin  Column -->
                          <ng-container matColumnDef="dateFin">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date fin</th>
                              <td mat-cell *matCellDef="let row">{{row.dateFin | date}}</td>
                          </ng-container>

                          <!-- Médecin Column -->
                          <ng-container matColumnDef="medecin">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Médecin </th>
                              <td mat-cell *matCellDef="let row"> </td>
                          </ng-container>
              
                          <!-- Action edit Column -->
                          <ng-container matColumnDef="Action-edit">
                              <th mat-header-cell *matHeaderCellDef ></th>
                              <td mat-cell *matCellDef="let row" class="td-btn-edit">
                                  <button mat-icon-button (click)="openDialogEdit(''+row.idConsultation)">
                                      <mat-icon>edit</mat-icon>
                                  </button>
                              </td>
                          </ng-container>
                      
                          <!-- Action details Column -->
                          <ng-container matColumnDef="Action-details">
                              <th mat-header-cell *matHeaderCellDef ></th>
                              <td mat-cell *matCellDef="let row" class="td-btn-details">
                                  <button mat-icon-button (click)="openDialogDetails(''+row.idConsultation)">
                                      <mat-icon>description</mat-icon>
                                  </button>
                              </td>
                          </ng-container>
                          
                          <!-- Action delete Column -->
                          <ng-container matColumnDef="Action-delete">
                              <th mat-header-cell *matHeaderCellDef ></th>
                              <td mat-cell *matCellDef="let row" class="td-btn-delete">
                                  <button mat-icon-button (click)="openDialogDelete(''+row.idConsultation)">
                                      <mat-icon>delete</mat-icon>
                                  </button>
                              </td>
                          </ng-container>
                      
                          <tr mat-header-row *matHeaderRowDef="displayedColumnsAutres"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumnsAutres;">
                          </tr>
                      </table>
                      </div>
                      <mat-paginator #MatPaginatorAutres="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                  </div>
              </mat-tab>
          </mat-tab-group>
      </div>
  </div>

</div>
