
    <nav  class="navbar">
      <div class="container-fullwidth">
        <ul class="nav navbar-nav">
          <li><a routerLinkActive="active" routerLink="admin-societe">Sociétés</a></li>    
          <li><a routerLinkActive="active" routerLink="admin-site">Sites</a></li>       
          <li><a routerLinkActive="active" routerLink="admin-departement" >Départements</a></li>
          <li><a routerLinkActive="active" routerLink="admin-posteTravail" >Postes de Travail</a></li>  
          <li><a routerLinkActive="active" routerLink="admin-natureConsultation" >Natures de Consultation</a></li>        
          <li><a routerLinkActive="active" routerLink="admin-appareil">Appareils</a></li>             
          <li><a routerLinkActive="active" routerLink="admin-maladie" >Maladies</a></li>   
          <li><a routerLinkActive="active" routerLink="admin-medicament" >Médicaments</a></li>          
          <li><a routerLinkActive="active" routerLink="admin-vaccin">Vaccins</a></li>       
          <li><a routerLinkActive="active" routerLink="admin-natureAccident" >Nature Accident</a></li>  
        </ul>
      </div>   
    </nav>
    <div class="space-navbar"></div>
    <router-outlet></router-outlet>
    