<nav  class="navbar">
  <div class="container-fullwidth">
    <ul class="nav navbar-nav">
      <li><a routerLinkActive="active" routerLink="dm-informations-generales/{{id}}">Informations générales</a></li>    
      <li><a routerLinkActive="active" routerLink="dm-antecedents/{{id}}">Antécédents</a></li>       
      <li><a routerLinkActive="active" routerLink="dm-visite-medicale/{{id}}" >Visite Médicale</a></li>
      <li><a routerLinkActive="active" routerLink="dm-consultation-medicale/{{id}}" >Consultation Médicale</a></li>  
      <li><a routerLinkActive="active" routerLink="dm-soins/{{id}}" >Soins Médicaux</a></li>        
      <li><a routerLinkActive="active" routerLink="dm-explorations/{{id}}">Explorations</a></li>             
      <li><a routerLinkActive="active" routerLink="dm-profil-vaccinal/{{id}}" >Profil vaccinal</a></li>          
      <li><a routerLinkActive="active" routerLink="dm-arret-travail/{{id}}">Arrêt de Travail</a></li>       
      <li><a routerLinkActive="active" routerLink="dm-changement-poste/{{id}}" >Changement de Poste</a></li>  
    </ul>
  </div>   
</nav>

<div class="space-navbar"></div>
<router-outlet></router-outlet>  