<h4 mat-dialog-title class="mat-dialog-title">
  <ng-container *ngIf="data.edit === 'false'">
          Ajouter une reorientation professionnelle 
  </ng-container>
  <ng-container *ngIf="data.edit === 'true'">
          Modifier la reorientation professionnelle
  </ng-container>
</h4>
<form [formGroup]="addGlobalForm">    
  <div mat-dialog-content>  
    <div class="col-md-12 row">  
      <div *ngIf="data.edit === 'false'" class="col-md-12 row-title">
          <h4>Saisir le détail de la réoriontation</h4>
      </div>                                      
      <div class="col-md-12" *ngIf="data.posteActuel"> 
        <p class="title-champ">Poste de travail occupé :<span class="champ">{{data.posteActuel.posteTravail.designation}}</span></p>                                                                     
      </div> 
      <div class="col-md-9">
        <mat-form-field>
            <input matInput formControlName="nom" placeholder="Ajouter des postes conseillés" formControlName="posteConseilles">
        </mat-form-field>
      </div> 
      <div class="col-md-9">
        <mat-form-field>
            <input matInput formControlName="nom" placeholder="Ajouter des postes déconseillés" formControlName="posteDeconseilles">
        </mat-form-field>
      </div> 
    </div>      
  </div>
  <div mat-dialog-actions class="pull-right">
      <button  *ngIf="data.edit === 'false'"  mat-button mat-raised-button class="btn-ajouter" (click)="onSubmit()" cdkFocusInitial>Ajouter <mat-icon>add</mat-icon></button>
      <button   *ngIf="data.edit === 'true'" mat-button mat-raised-button class="btn-edit" (click)="onSubmit()" cdkFocusInitial>Enregistrer <mat-icon>save</mat-icon></button>
      <button mat-button mat-raised-button class="btn-annuler" (click)="onNoClick()" >Annuler</button>        
  </div>
</form>
